---
layout: master.liquid
title: Some Details
---

<form>
  <fieldset class="flow">
    <legend>Your Details</legend>
    <label for="name">Name</label>
    <input
      class="w-full"
      placeholder="Megan"
      required
      type="text"
      id="name"
      name="name"
    />
    <label for="phone">Phone Number</label>
    <input
      class="w-full"
      placeholder="0412 345 678"
      required
      type="tel"
      id="phone"
      name="phone"
    />
    <label for="suburb">Suburb</label>
    <input
      class="w-full"
      placeholder="Burleigh Heads"
      required
      type="text"
      id="suburb"
      name="suburb"
    />
    <button class="w-full" type="submit">Next Page</button>
  </fieldset>
</form>
